body{
	background-color:#ffe0f2;
	
}

.heading{
	background-color:#66500f;
	text-align:center;
	color:#ffffff;
	font:bold 70px helvetica;
}

.center{
   text-align:center;	
}

.topic{
	background-color:#c9e649;
	color:#ffffff;
	font-size:35px;
}

.content{
	text-indent:1cm;
	font-size:25px;
}

.personal{
	font-size: 25px;
}


li span {font-weight: bold;}

.fa {
  padding: 10px;
  font-size: 10px;
  width: 10px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  float:right;
  margin-left: 20px;
  background: #3B5998;
  color: white;
}

.tm-footer{
	clear: both;
	float: left;
	text-align: left;
    font-weight: bold;
	padding: 40px;
}